.venv
models/mistral/mistral-7b-instruct-v0.2.Q4_K_M.gguf


# Ignore model files
models/
*.gguf
*.bin
*.onnx

# Ignore embeddings / DB
chroma_db/
vector_db/

# Ignore Python cache
__pycache__/
*.pyc

# Ignore logs
logs/
*.log



# Ignore VSCode files
.vscode/

optimizer.pt
model.safetensors
models/intent_distilbert/

