#FOR MISTRAL

torch
torchvision
torchaudio
transformers
sentence-transformers
accelerate
bitsandbytes
chromadb
PyMuPDF
Pillow
opencv-python
scikit-learn
pandas
numpy
tqdm
llama-cpp-python
uvicorn
streamlit
pytesseract
dotenv